@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
}

/***--------------------------------------------------------------------------------------***/
/*********************************** HEADER + LOGO 9+ NAV ***********************************/
/***--------------------------------------------------------------------------------------***/

header{
    height: 170px;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    height: 70px;
    width: 145px;
}
nav{
    height: 100%;
    display: flex;
}
.nav-container{
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.active::before{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0065FC;
}
a{
    text-decoration: none;
}
.nav-link{
    color: #0065FC;
    font-weight: 500;
    font-size: 17px;
}