@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
}

/***--------------------------------------------------------------------------------------***/
/*********************************** HEADER + LOGO 9+ NAV ***********************************/
/***--------------------------------------------------------------------------------------***/

header{
    height: 170px;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    height: 70px;
    width: 145px;
}
nav{
    height: 100%;
    display: flex;
}
.nav-container{
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.active::before{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0065FC;
}
a{
    text-decoration: none;
}
.nav-link{
    color: #0065FC;
    font-weight: 500;
    font-size: 17px;
    transform: translateY(-20px);
}

/***--------------------------------------------------------------------------------------***/
/*********************************** MAIN + FORM CONTAINER **********************************/
/***--------------------------------------------------------------------------------------***/
main{
    width: 100%;
    padding: 0 5%;
}
h1{
    font-size: 26px;
}
.after-title{
    font-size: 19px;
    margin: 10px 0;
}
.form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: start;
}
.sub-icon{
    height: 50px;
    width: 60px;
    background: #f2f2f2;
    border-radius: 10px 0 0 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container input{
    border: none;
    height: 50px;
    width: 285px;
    background: #ffffff;
}
.search-container input:nth-child(2){
    padding-left: 25px;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    border: 2px solid #F2F2F2;
}
.search-container input:nth-child(4){
    display: none;
}
.search-container label{
    border-radius: 0 10px 10px 0;
    background: #0065FC;
    width: 130px;
    height: 46px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container label:hover{
    cursor: pointer;
    background: #0065fcea;
}
.search-container label span{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.search-container label i{
    display: none;
}
.filter-container{
    display: flex;
    align-items: center;
    margin: 40px 0 20px;
}
.filter-container p{
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-right: 20px;
}
.filter-container button{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    line-height: 50PX;
    border: 2px solid #d9d9d9;
    background: #FFFFFF;
    border-radius: 25px;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 0 20px 0 70px;
}
.filter-container button:hover{
    cursor: pointer;
    background: #f2f2f2;
}
.filter-container i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -2px;
    top: -2px;
}
.filter-container .fa-solid{
    color: #0065FC;
}
.info-container{
    display: flex;
    align-items: center;
}
.info-container p {
    font-size: 16px;
    margin-left: 15px;
}
.info-container i{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid #d9d9d9;
}

/***--------------------------------------------------------------------------------------***/
/************************************ SECTION HEBERGEMENT ***********************************/
/***--------------------------------------------------------------------------------------***/
.hebergement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.hebergement-left{
    width: 65%;
    height: 660px;
    background: #F2F2F2;
    border-radius: 25px;
    padding: 40px;
}
.box-container{
    width: 100%;
    height: calc(100% - 91px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 0 30px;
    row-gap: 40px;
}
.box{
    width: 30%;
    height: calc(50% - 20px);
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.10), -4px -8px 10px rgba(0, 0, 0, 0.10);
    padding: 5px;
    color: #000;
    transition: ease 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box:hover{
    transform: translateY(-10px);
}
.box img{
    height: 120px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.box h3{
    margin: 5px 0 5px 10px;
}
.box p{
    margin:  auto 0 auto 10px;
}
.star-container{
    margin: 0 0 10px 10px;
}
.display-more{
    width: 100%;
}
.display-more a{
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.blue{
    color: #0065FC;
}
.grey{
    color: #d9d9d9;
}
.hebergement-right{
    background: #F2F2F2;
    width: 30%;
    height: 660px;
    border-radius: 25px;
    padding: 40px;   
}
.right-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-right{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 35px 0;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.10), -4px -8px 10px rgba(0, 0, 0, 0.10);
    padding: 5px;
    color: #000;
    transition: ease 0.2s;
}
.box-right:hover{
    transform: translateY(-10px);
}
.img-boxRight{
    height: 100%;
    width: 40%;
}
.img-boxRight img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.txt-boxRight{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.txt-boxRight h3{
    margin: 10px 0 0 15px;
}
.txt-boxRight p{
    margin: 10px 0 auto 15px;
}
.txt-boxRight .star-container{
    margin: 0 0 10px 15px;
}

/***--------------------------------------------------------------------------------------***/
/************************************* SECTION ACTIVITÉS ************************************/
/***--------------------------------------------------------------------------------------***/
.activity-container{
    width: 100%;
    height: 500px;
    margin: 30px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activity-box{
    height: 100%;
    width: 23%;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #000;
}
.activity-box:nth-child(1), .activity-box:nth-child(3){
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.10), -4px -8px 10px rgba(0, 0, 0, 0.10);
}
.activity-box img {
    height: calc(100% - 56px);
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
}
.activity-box h3{
    margin: 15px 0 15px 20px;
}
.activity-littleBox{
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.10), -4px -8px 10px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    width: 100%;
    color: #000;
}
.activity-box:nth-child(2) .activity-littleBox:nth-child(1){
    height: 55%;
}
.activity-box:nth-child(2) .activity-littleBox:nth-child(2){
    height: 35%;
}
.activity-box:nth-child(4) .activity-littleBox:nth-child(1){
    height: 50%;
}
.activity-box:nth-child(4) .activity-littleBox:nth-child(2){
    height: 40%;
}

/***--------------------------------------------------------------------------------------***/
/****************************************** FOOTER ******************************************/
/***--------------------------------------------------------------------------------------***/
footer{
    height: 250px;
    width: 100%;
    background-color: #F2F2F2;
    padding: 0 5%;
    display: flex;
    align-items: flex-start;
}
.footer-boxs{
    display: flex;
    flex-direction: column;
    margin: 50px 200px 0 0;
}
.footer-boxs h4{
    margin: 0 0 10px;
    font-size: 18px;
}
.footer-boxs a{
    margin: 8px 0;
    color: #000;
}

/***--------------------------------------------------------------------------------------***/
/*********************************** MEDIA QUERIES DESKTOP **********************************/
/***--------------------------------------------------------------------------------------***/
@media(max-width: 1475px) {

/***--------------------------------------------------------------------------------------***/
/*********************************** HEADER + LOGO 9+ NAV ***********************************/
/***--------------------------------------------------------------------------------------***/
    header{
        width: 100%;
        padding: 0 2%;
    }

/***--------------------------------------------------------------------------------------***/
/*********************************** MAIN + FORM CONTAINER **********************************/
/***--------------------------------------------------------------------------------------***/
    main{
        width: 100%;
        padding: 0 2%;
    }
    h1{
        font-size: 24px;
    }
    .after-title{
        font-size: 17px;
    }
    /* form and seach input */
    .sub-icon{
        height: 45px;
    }
    .search-container input{
        height: 45px;
    }
    .search-container input:nth-child(2){
        font-size: 16px;
    }
    .search-container label{
        font-size: 16px;
    }
    /* filter */
    .filter-container p{
        font-size: 17px;
    }
    .filter-container button{
        margin: 0 10px;
        font-size: 14px;
    }
    .info-container p {
        font-size: 14px;
        margin-left: 10px;
    }

/***--------------------------------------------------------------------------------------***/
/************************************ SECTION HEBERGEMENT ***********************************/
/***--------------------------------------------------------------------------------------***/
    /* hebergement left box */
    .hebergement-left{
        padding: 40px 30px;
    }
    .hebergement-left h2{
        font-size: 20px;
    }
    .box{
        width: 32%;
    }
    .box h3{
        margin: 10px 0 5px 10px;
        font-size: 14px;
    }
    .box p{
        font-size: 13px;
    }
    .display-more a{
        font-size: 17px;
    }

    /* herbergement right box */
    .hebergement-right{
        width: 32.5%;
        padding: 40px 30px;   
    }
    .right-title h2{
        font-size: 20px;
    }
    .txt-boxRight h3{
        font-size: 14px;
    }
    .txt-boxRight p{
        font-size: 13px;
    }

/***--------------------------------------------------------------------------------------***/
/************************************* SECTION ACTIVITÉS ************************************/
/***--------------------------------------------------------------------------------------***/
    section:nth-child(3) h2{
        font-size: 20px;
    }
    .activity-box h3{
        font-size: 15px;
    }
/***--------------------------------------------------------------------------------------***/
/******************************************* FOOTER *****************************************/
/***--------------------------------------------------------------------------------------***/
    .footer-boxs{
        margin: 50px 9% 0 0;
    }
}


/***--------------------------------------------------------------------------------------***/
/************************************ MEDIA QUERIES TABLET **********************************/
/***--------------------------------------------------------------------------------------***/
@media (max-width: 992px) {
    /* filters */
    .filter-container{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding-top: 30px;
        align-items: center;
        position: relative;
    }
    .filter-container p {
        position: absolute;
        top: 0;
        left: 15px;
    }
    .filter-container button{
        margin-bottom: 20px;
    }

/***--------------------------------------------------------------------------------------***/
/************************************ SECTION HEBERGEMENT ***********************************/
/***--------------------------------------------------------------------------------------***/    
    .hebergement{
        flex-direction: column-reverse;
        height: auto;
    }
    /* hebergement right box*/
    .hebergement-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }
    .box-right{
        width: 70%;
        margin: 0;
    }
    .txt-boxRight{
        text-align: center;
    }
    .right-title h2{
        font-size: 20px;
    }
    .txt-boxRight h3{
        font-size: 17px;
    }
    .txt-boxRight p{
        font-size: 15px;
    }
    /* hebergement left box */
    .hebergement-left{
        width: 100%;
    }
    .hebergement-left h2{
        font-size: 20px;
    }
    .box{
        width: 32%;
    }
    .box h3{
        margin: 10px 0 5px 10px;
        font-size: 17px;
    }
    .box p{
        font-size: 15px;
    }
    .display-more a{
        font-size: 17px;
    }
    
}
/***--------------------------------------------------------------------------------------***/
/************************************ MEDIA QUERIES PHONE  **********************************/
/***--------------------------------------------------------------------------------------***/
@media (max-width: 768px) {

/***--------------------------------------------------------------------------------------***/
/*********************************** HEADER + LOGO 9+ NAV ***********************************/
/***--------------------------------------------------------------------------------------***/
    header{
        height: auto;
        width: 100%;
        padding: 0 ;
        flex-direction: column;
        margin-bottom: 25px;
    }
    .header-logo{
        height: 50px;
        width: 100px;
        margin: 30px 0 10px;
    }
    nav{
        height: 60px;
        width: 100%;
    }
    .nav-container{
        width: 50%;
        height: 100%;
    }
    .active::before{
        display: none;
    }
    .active::after{
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #0065FC;
    }
    .nav-link{
        transform: translateY(0px);
    }

/***--------------------------------------------------------------------------------------***/
/*********************************** MAIN + FORM CONTAINER **********************************/
/***--------------------------------------------------------------------------------------***/
    main{
        padding: 0;
    }
    /* form section */
    .form-section{
        padding: 0 5%;
    }
    h1{
        font-size: 22px; 
        margin: 10px 0;
    }
    .after-title{
         font-size: 16px; 
         margin-bottom: 30px;
    }

    /* form and seach input */
    .search-container{
        position: relative;
    }
    .sub-icon{
        font-size: 13px;
        width: 40px;
    }
    .search-container input:nth-child(2){
        width: calc(100% - 50px);
        padding: 0 50px 0 10px;
    }
    .search-container label{
        width: 55px;
        height: 45px;
        border-radius: 10px;
        position: absolute;
        right: 0;
    }
    .search-container label span{
        display:none;
    }
    .search-container label i{
        display: block;
        color: white;
        font-size: 13px;
    }
    .info-container{
        align-items: flex-start;
    }
    .info-container i{
        font-size: 12px;
        height: 22px;
        width: 24px;
    }
    /* filters */
    .filter-container{
        justify-content: space-between;
        min-width: 292px;
        max-width: 338px;

    }
    .filter-container button{
        margin: 0 0 20px 0;
        padding: 0 15px 0 55px ;
        font-size: 13px;
        text-align: center;
        display: flex;
        justify-content: center;
        min-width: 45%;
    }
    .filter-container i{
        font-size: 17px;
    }
    
/***--------------------------------------------------------------------------------------***/
/************************************ SECTION HEBERGEMENT ***********************************/
/***--------------------------------------------------------------------------------------***/    
    .hebergement{
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 25px;
    }
    /* hebergement right box*/
    .hebergement-right{
        border-radius: 0;
        padding: 40px 5%;
        height: 100%;
    }
    .hebergement-right h2{
        font-size: 26px;
    }
    .box-right{
        width: 100%;
        margin: 10px 0;
        height: 200px;
    }
    .txt-boxRight{
        text-align: start;
    }
    .right-title{
        width: 100%;
        margin-bottom: 15px;
    }
    .txt-boxRight h3{
        font-size: 20px;
    }
    .txt-boxRight p{
        font-size: 17px;
    }

    /* hebergement left box */
    .hebergement-left{
        padding: 20px 5%;
        height: 100%;
        background: #FFFFFF;
    }
    .hebergement-left h2{
        font-size: 26px;
    }
    .box-container{
       row-gap: 25px;
    }
    .box{
        width: 100%;
        height: 250px; 
    }
    .box img{
        height: 160px;
    }
    .box h3{
        margin: 10px 0 5px 10px;
        font-size: 17px;
    }
    .box p{
        font-size: 15px;
    }
    .display-more a{
        font-size: 17px;
    }

/***--------------------------------------------------------------------------------------***/
/************************************* SECTION ACTIVITÉS ************************************/
/***--------------------------------------------------------------------------------------***/
    section:nth-child(3) h2{
        padding: 0 5%;
        font-size: 26px;
    }
    .activity-container{
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0 5%;
        
    }
    .activity-box{
        width: 100%;    
    }
    .activity-box:nth-child(1), .activity-box:nth-child(3){
        height: 250px;
        margin-bottom: 25px;
    }

    .activity-box h3{
        margin: 15px 0 15px 20px;
        font-size: 18px;
    }
    .activity-littleBox{
        margin-bottom: 25px;
    }
    .activity-box:nth-child(2) .activity-littleBox:nth-child(1), .activity-littleBox:nth-child(2){
        height: 250px;
    }
    .activity-box:nth-child(4) .activity-littleBox:nth-child(1), .activity-littleBox:nth-child(2){
        height: 250px;
    }


/***--------------------------------------------------------------------------------------***/
/****************************************** FOOTER ******************************************/
/***--------------------------------------------------------------------------------------***/
    footer{
        height: 100%;
        padding: 35px 5% 0;
        flex-direction: column;
    }
    .footer-boxs{
        margin: 0 0 45px 0;
    }
    .footer-boxs h4{
        margin: 0 0 8px;
        font-size: 16px;
    }
    .footer-boxs a{
        margin: 5px 0;
        font-size: 14px;
    }
}





















